.actionWrapper {
    max-width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    column-gap: .5rem;
    padding: .5rem 1rem;
    margin: .2rem auto;
}

.actionBtn {
    align-items: center;
    background-color: #eaec6f;
    border-radius: 4px;
    border: none;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(45, 94, 144) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    justify-content: center;
    line-height: 1;
    overflow: hidden;
    padding: 6px 12px 8px;
    transition: box-shadow .15s, transform .15s;
    will-change: box-shadow, transform;
    font-size: 14px;
    font-weight: 300;

    &:hover {
        box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(45, 94, 144) 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: rgb(45, 94, 144) 0 3px 7px inset;
        transform: translateY(2px);
    }

    &:focus {
        box-shadow: rgb(45, 94, 144) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(45, 94, 144) 0 -3px 0 inset;
    }
}